<h2>Artist: <%= @artist_info["name"] %></h2>
<p>Bio: <%= @artist_info["bio"] %></p>
<p>City: <%= @artist_info["city"] %></p>
<p>Country: <%= @artist_info["country"] %></p>

<% if @artist_info["image_path"] %>
    <img src="<%= @artist_info["image_path"] %>" alt="Release Artwork" style="max-width: 200px;">
<% end %>


<% if @releases.nil? || @releases.empty? %>
    <p>No releases available. </p>
<% else %>
    <h3>Releases:</h3>
    <% @releases.each do |release| %>
        <div>
            <p><%= Artists.get_artist_name_from_artist_id(release['artist_id']) %> - <%= release['title'] %></p>
            <form action="/release/view/<%= release['id'] %>" method="get"> 
                <button type="submit">VIEW</button>
            </form>

        </div>
    <% end %>
<% end %>