<h2>Artist: <%= @artist_info["name"] %></h2>
<p>Bio: <%= @artist_info["bio"] %></p>
<p>City: <%= @artist_info["city"] %></p>
<p>Country: <%= @artist_info["country"] %></p>

<img src="<%= @artist_info["image_path"] %>" alt="Release Artwork" style="max-width: 200px;">

