
<div class="container">
    <div class="release-info">
        <h2>Title: <%= html_escape(@release_info["title"]) %></h2>
        <h2>Artist: <%= html_escape(Artists.get_artist_name_from_artist_id(@release_info["artist_id"])) %></h2>

        <% if @release_info["image_path"] %>
        <img src="<%= @release_info["image_path"] %>" alt="Release Artwork">
        <% end %>

        <h3>Total rating score: <%= @total_rating %></h3>
        <h3>Reviews:</h3>

        <div class=review-container>
        <% if @review_info != nil%>
            <% @review_info.each do |review| %>
            <div class="review">
                <p><u><%= html_escape(review["username"]) %></u></p>
                <p><%= html_escape(review["review_text"]) %></p>
                <p><strong>Rating:</strong> <%= html_escape(review["review_rating"]) %>/10</p>
            </div>
            <% end %>
          
          <% else %>
              <p>There are no reviews for this release.</p>

          <% end %>

        </div>

        <%= error_message %>

        <div class=review-container>
          <% if session[:user_id] %>
            <form action="/release/review/<%= @release_info["id"] %>" method="post">
                <label for="review_text">Review Text:</label><br>
                <textarea id="review_text" name="review_text" rows="8" cols="50" required></textarea><br><br>

                <label for="rating">Rating (0-10):</label><br>
                <input type="number" id="rating" name="rating" min="0" max="10" step="0.1" required><br><br>

                <button type="submit">Submit review</button>
            </form>
          <% end %>
        </div>
    </div>
</div>

</body>
</html>
