<h2>Search Results for "<%= html_escape(@query) %>"</h2>

<% if @release_results.empty? && @artist_results.empty? %>
    <p>No results found for "<%= html_escape(@query) %>". Please try a different search query.</p>
<% end %>

<% if !@artist_results.empty? %>
    <h3>Artists:</h3>
    <ul>
        <% @artist_results.each do |artist| %>
            <div>
                <p>Artist: <%= html_escape(artist['name']) %></p>
                <form action="/artist/view/<%= artist['id'] %>" method="get"> 
                    <button type="submit">VIEW</button>
                </form>            
            </div>
        <% end %>
    </ul>
<% end %>

<% if !@release_results.empty? %>
    <h3>Releases:</h3>
    <ul>
        <% @release_results.each do |release| %>
            <div>
                <p><%= html_escape(Artists.get_artist_name_from_artist_id(release["artist_id"])) %> - <%= html_escape(release['title']) %></p>
                <form action="/release/view/<%= release['id'] %>" method="get"> 
                    <button type="submit">VIEW</button>
                </form>
            </div>
        <% end %>
    </ul>
<% end %>
